.body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f3f4f6;
  color: #333;
}

.container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card h2 {
  color: #5b4bdb;
}

.card p {
  color: #666;
}

/* buttons */
.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.green {
  background: #22c55e;
}

.red {
  background: #ef4444;
}

.gray {
  background: #9ca3af;
}

.purple {
  background: #5b4bdb;
}

.btn:hover {
  opacity: 0.9;
}